html[data-cpr-theme="edgerunners"] {
  --cpr-darkmode-main: #ffeb0b;
  --cpr-darkmode-background: #232b2b;
  --cpr-darkmode-text-main: #eaeaea;
  --cpr-darkmode-header: #121212;
  --cpr-darkmode-red: #c62828;

  --cpr-background-window: var(--cpr-darkmode-background);
  --cpr-background-border: var(--cpr-darkmode-main);
  --cpr-background-box: var(--cpr-darkmode-background);

  --cpr-background-header: var(--cpr-darkmode-header);
  --cpr-background-pill: var(--cpr-darkmode-header);
  --cpr-background-row-even: #3b444b;
  --cpr-background-row-odd: var(--cpr-darkmode-background);
  --cpr-background-tab-active: var(--cpr-darkmode-main);
  --cpr-background-tab-inactive: #0e1111;
  --cpr-background-tab-underlay: #495057;
  --cpr-background-chat-card: var(--cpr-darkmode-background);
  --cpr-background-chat-card-block: var(--cpr-darkmode-main);
  --cpr-background-chat-card-block-before: #3b3b3b;
  --cpr-background-chat-border: #999999;
  --cpr-background-foundry-input: var(--cpr-darkmode-background);
  --cpr-background-cyberdeck-section-header: #414a4c;
  --cpr-background-dialog-border: var(--cpr-darkmode-main);
  --cpr-background-dialog-selected: #414a4c;
  --cpr-background-foundry-hover: var(--cpr-darkmode-main);
  --cpr-background-foundry-button: var(--cpr-darkmode-background);
  --cpr-background-dialog-hr-gradient-start: #394867;
  --cpr-background-dialog-hr-gradient-middle: #bcccdc;
  --cpr-background-dialog-hr-gradient-end: #394867;

  --cpr-background-editor-header: var(--cpr-darkmode-header);
  --cpr-background-editor-button: var(--cpr-color-light-grey);

  --cpr-text-editor-header: var(--cpr-darkmode-text-main);
  --cpr-text-editor-button: var(--cpr-color-black);

  --cpr-text-normal: var(--cpr-darkmode-text-main);
  --cpr-text-pill: var(--cpr-darkmode-text-main);
  --cpr-text-header: var(--cpr-darkmode-text-main);
  --cpr-text-window: var(--cpr-darkmode-text-main);
  --cpr-text-tab-normal: var(--cpr-darkmode-text-main);
  --cpr-text-icon-normal: #c0c0c5;
  --cpr-text-icon-dimmed: #66666e;
  --cpr-text-icon-highlight: var(--cpr-darkmode-red);
  --cpr-text-chat-normal: var(--cpr-darkmode-text-main);
  --cpr-text-chat-failure: var(--cpr-darkmode-red);
  --cpr-text-mook-normal: var(--cpr-darkmode-text-main);
  --cpr-text-foundry-input: var(--cpr-darkmode-text-main);
  --cpr-text-foundry-button: var(--cpr-darkmode-text-main);
  --cpr-text-foundry-hint: #c0c0c0;
  --cpr-text-foundry-hover: #bcccdc;

  --color-border-light-primary: #666;
  --color-border-light-1: #666;
  --color-shadow-primary: #bcccdc;
}
